<mat-toolbar color="primary">
  <button *ngIf="!currentUser" mat-icon-button>
    <mat-icon color="accent" [routerLink]="['/login']">login</mat-icon>
  </button>
  <button *ngIf="!currentUser" mat-icon-button>
    <mat-icon color="accent" [routerLink]="['/signup']">person_add</mat-icon>
  </button>
  <button *ngIf="currentUser" mat-icon-button>
    <mat-icon color="accent">person</mat-icon>
  </button>
  <button *ngIf="currentUser" (click)="signOut()" mat-icon-button>
    <mat-icon color="accent">logout</mat-icon>
  </button>
</mat-toolbar>
