<mat-card style="margin:auto; max-width:fit-content; top:10%">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="userName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>First</mat-label>
      <input matNativeControl type="text" [(ngModel)]="firstName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Last</mat-label>
      <input matNativeControl type="text" [(ngModel)]="lastName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matNativeControl [type]="password" [(ngModel)]="password">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button (click)="signUp()" color="accent">Sign up</button>
  </p>
</mat-card>
