<mat-card style="background-color: #ffedfe; margin: 10px; max-width: 400px">
  <mat-card-title *ngIf="true">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="list.name">
    </mat-form-field>
  </mat-card-title>
  <mat-checkbox [(ngModel)]="hideCompleted" (change)="fetchTasks()">Hide Completed</mat-checkbox>
    <mat-card-content style="margin:0" *ngFor="let task of tasks">
      <mat-checkbox [(ngModel)]="task.completed" (change)="saveTask(task)" style="margin-right: 8px;"></mat-checkbox>
      <mat-form-field style="border-top: 0px">
        <input style="border-top: 0px" matInput [(ngModel)]="task.title" (change)="saveTask(task)">
      </mat-form-field>
      <button mat-button color="warn" (click)="deleteTask(task)">Delete</button>
    </mat-card-content>
  <button mat-raised-button (click)="addTask()" color="primary">Add Task</button>
  <p>
    <button mat-raised-button (click)="setAll(true)" style="margin-right: 5px">Set all as completed</button>
    <button mat-raised-button (click)="setAll(false)" color="yellow">Set all as uncompleted</button>
  </p>
</mat-card>



<!--
<input
    type="checkbox"
    [(ngModel)]="hideCompleted"
    (change)="fetchTasks()"
>
Hide Completed
<main>
  <div *ngFor="let task of tasks">
      <input
          type="checkbox"
          [(ngModel)]="task.completed"
          (change)="saveTask(task)"
        >
        <input [(ngModel)]="task.title" type="text" (change)="saveTask(task)">
        <button (click)="deleteTask(task)">Delete</button>
  </div>
</main>
<button *ngIf="taskCount()" (click)="addTask()">Add Task</button>
-->
