<mat-card style="background-color: #ffedfe; margin: 10px; max-width: 400px">
  <mat-card-title>
    <mat-form-field>
      <input matInput [(ngModel)]="list!.name" (change)="saveList()" placeholder="Title">
    </mat-form-field>
    <button style="float: right;" (click)="deleteList()" mat-icon-button>
      <mat-icon color="accent">delete_forever</mat-icon>
    </button>
</mat-card-title>
  <mat-checkbox [(ngModel)]="hideCompleted" (change)="fetchTasks()">Hide Completed</mat-checkbox>
    <mat-card-content style="margin:0" *ngFor="let task of tasks">
      <mat-checkbox [(ngModel)]="task.completed" (change)="saveTask(task)" style="margin-right: 8px;"></mat-checkbox>
      <mat-form-field style="border-top: 0px">
        <input style="border-top: 0px" matInput [(ngModel)]="task.title" (change)="saveTask(task)">
      </mat-form-field>
      <button mat-raised-button color="warn" style="width: fit-content; padding-right: 5px; padding-left: 5px; float: right;" (click)="deleteTask(task)">Delete</button>
    </mat-card-content>
    <p>
      <button mat-raised-button (click)="addTask()" color="primary">Add Task</button>
    </p>
  <p>
    <button mat-raised-button (click)="setAll(true)" color="primary" style="margin-right: 5px; margin-bottom: 5px">Set all as completed</button>
    <button mat-raised-button (click)="setAll(false)" color="primary">Set all as uncompleted</button>
  </p>
</mat-card>



<!--
<input
    type="checkbox"
    [(ngModel)]="hideCompleted"
    (change)="fetchTasks()"
>
Hide Completed
<main>
  <div *ngFor="let task of tasks">
      <input
          type="checkbox"
          [(ngModel)]="task.completed"
          (change)="saveTask(task)"
        >
        <input [(ngModel)]="task.title" type="text" (change)="saveTask(task)">
        <button (click)="deleteTask(task)">Delete</button>
  </div>
</main>
<button *ngIf="taskCount()" (click)="addTask()">Add Task</button>
-->
