<mat-card>
  <mat-card-title *ngIf="false">{{list.name}}</mat-card-title>
  <ul>
    <li *ngFor="let task of tasks">
      <mat-checkbox [(ngModel)]="task.completed" (change)="saveTask(task)"></mat-checkbox>
      <input matInput type="text" [(ngModel)]="task.title" (change)="saveTask(task)">
      <button mat-raised-button color="warn">Delete</button>
    </li>
  </ul>
  <button mat-raised-button color="">Add Task</button>
</mat-card>



<!--
<input
    type="checkbox"
    [(ngModel)]="hideCompleted"
    (change)="fetchTasks()"
>
Hide Completed
<main>
  <div *ngFor="let task of tasks">
      <input
          type="checkbox"
          [(ngModel)]="task.completed"
          (change)="saveTask(task)"
        >
        <input [(ngModel)]="task.title" type="text" (change)="saveTask(task)">
        <button (click)="deleteTask(task)">Delete</button>
  </div>
</main>
<button *ngIf="taskCount()" (click)="addTask()">Add Task</button>
-->
